<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=520" />
    <link rel="stylesheet" type="text/css" href="{{subdir}}/css/index.css" />
  </head>
  <body>
    <div id="site"></div>
  </body>
  <script src="{{subdir}}/js/react.min.js"></script>
  <script src="{{subdir}}/js/react-dom.min.js"></script>
  <script src="src.js"></script>
  <script src="index.js"></script>
</html>
