@import "partials/vars.scss";
@import "partials/header.scss";
@import "partials/book.scss";

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #555;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

#site {
  height: 100%;
}

.app {
  position: relative;
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.main-content-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  .main-content {
    margin: auto;
    max-width: $content-width;
  }
}

.list-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

.breadcrumb {
  color: #999;
  margin-bottom: 1em;
  font-size: 0.9em;
  a {
    color: #999;
  }
}
